/* Estilos para el cuadro de diálogo */
.swal2-popup {
    width: 400px;
  }
  
  /* Estilos para los elementos select */
  .swal2-select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
  }
  
  /* Estilos para las opciones en el select */
  .swal2-select option {
    font-size: 16px;
    padding: 8px;
  }
  