<div class="container ">
  <div class="row justify-content-center magenesRow" >
    <mat-card class="example-card">

        <h1>Login</h1>
      <form [formGroup]="form">
      <mat-card-content>
        <div class="row rowsInputs">
          <mat-form-field appearance="outline">
            <mat-label>Ingresa tu CUI</mat-label>
            <input  matInput placeholder="3038568250110" formControlName="usuario">
            <mat-icon matSuffix>badge</mat-icon>
            <mat-error *ngIf="usernameField?.hasError('required')">{{mensajeUsernameRequerido}}</mat-error>
          </mat-form-field>
        </div>


        <div class="row rowsInputs">
            <mat-form-field appearance="outline">
              <mat-label>Escribe tu contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="passwordField?.hasError('required')">{{mensajePasswordRequerido}}</mat-error>
            </mat-form-field>
          </div>

      </mat-card-content>
      <div class="row justify-content-center">
        <button mat-raised-button color="primary" class="btns" (click)="login()" [disabled]="!form.valid">LOGIN</button>
      </div>
      </form>
    </mat-card>

  </div>
</div>
